<title>TechStash - One stop for tech resources </title>
<meta charset="utf-8">
<meta name="language" content="en" />
<meta name="locale" content="en_US" />
<meta name="title" id="title" content="TechStash - One stop for tech resources|TechStash" />
<meta name="description" id="description" content="One stop point for tech resources from events, conferences, blogs, jobs, communicty, podcast" />
<meta name="version" content="1.0.0" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="copyright" content="TechStash" /><meta name="company" content="TechStash" />
<link href="css/main.css" rel="stylesheet">